@{
    var queryString = Request.QueryString["BrandName"];


    if (queryString == null)
    {
        string relativePath = "/Portals/0/Graphics/Brands";
        string path = Server.MapPath(relativePath);
        string[] dirs = Directory.GetFiles(path);

        string queryStr = Request.QueryString["BrandName"];
        //if (queryStr != "")
        //{  Response.Write(queryStr.ToString());}


        if (dirs != null || dirs.Length > 0)
        {

            foreach (string dir in dirs)
            {


                FileInfo file = new FileInfo(dir);
                string filename = Path.GetFileName(file.FullName).ToString();
                string[] brandname = filename.Split('.');
                <a href="/Brochures?BrandName=@brandname[0]">
                    <img src="@relativePath/@filename" style="width:150px;">
                </a>
            }

        }
    }
    else
    {
        <h2>Brochures for @queryString Caravans</h2>
        string brochurePath = "/Portals/0/Brochures";
        string fullBrochurePath = Server.MapPath(brochurePath);
        DirectoryInfo di = new DirectoryInfo(fullBrochurePath);
        FileSystemInfo[] files = di.GetFileSystemInfos();
       
      
        string[] brochureDirs = Directory.GetFiles(fullBrochurePath, "*" + queryString + "*.pdf");
        List<string> fileList = brochureDirs.ToList<string>();
        
        if (brochureDirs != null || brochureDirs.Length > 0)
        {
            foreach (string b in fileList.Reverse<string>())
            {
                <ul>
                    @{FileInfo brochureFile = new FileInfo(b);
                    string BrochureFilenameWExtension = Path.GetFileName(brochureFile.FullName).ToString();
                    string[] brochureFileName = BrochureFilenameWExtension.Split('.');
                    string brochureIMG = brochureFileName[0]+".jpg";
                    string brochurePDF = brochureFileName[0] + ".pdf";
                    }
                    <li>
                        <a href="@brochurePath/@brochurePDF"><img src="@brochurePath/@brochureIMG" /></a>
                    </li>
                </ul>
            }

        }

    }
}
